<a href="https://colab.research.google.com/github/bmshahrier/bixi-montreal/blob/master/bixi_montreal_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [0]:
import pandas as pd
import numpy as np

# convert scientific notation to decimals
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Load Dataset from Google Drive

In [2]:
# Make connection with Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
# Get access the GDrive
!ls -la /content/gdrive/My\ Drive/Colab\ Notebooks/

total 227
-rw------- 1 root root  19814 Jul  1 20:56 bixi-data-wrangling-analysis.ipynb
drwx------ 2 root root   4096 Jun  9 13:45 bixi-montreal
-rw------- 1 root root  95927 Jun 12 09:51 bixi-montreal-classification-model.ipynb
-rw------- 1 root root 107276 Jun 15 03:53 bixi-montreal-regression-model.ipynb
-rw------- 1 root root   4455 Jun  8 03:41 Untitled0.ipynb

In [4]:
# Explore the contents of GDrive
!ls -la /content/gdrive/My\ Drive/Colab\ Notebooks/bixi-montreal/raw-data

total 28
drwx------ 2 root root 4096 Jun 22 01:30 BIXIDataSet
drwx------ 2 root root 4096 Jun  3 13:12 bixi-trip-2018
drwx------ 2 root root 4096 Jun  2 19:14 MergeDataset
drwx------ 2 root root 4096 Jun  1 11:37 mtl-weather-2018
drwx------ 2 root root 4096 Jun 24 01:41 mtl-weather-daily
drwx------ 2 root root 4096 Jun 24 01:40 mtl-weather-hourly
drwx------ 2 root root 4096 Jun  7 01:48 WeatherDataset

In [0]:
# Collect csv files with same pattern
from glob import glob 

bixi_trip_data_2014to2018 = glob('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/BIXIDataSet/OD*.csv')
mtl_weather_hourly = glob('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/mtl-weather-hourly/eng-hourly*.csv')

In [0]:
# Load Station csv file to pandas DataFrame

bixi_stations_2014 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/BIXIDataSet/Stations_2014.csv', error_bad_lines=False)
bixi_stations_2014['year'] = 2014

bixi_stations_2015 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/BIXIDataSet/Stations_2015.csv', error_bad_lines=False)
bixi_stations_2015['year'] = 2015

bixi_stations_2016 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/BIXIDataSet/Stations_2016.csv', error_bad_lines=False)
bixi_stations_2016['year'] = 2016

bixi_stations_2017 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/BIXIDataSet/Stations_2017.csv', error_bad_lines=False)
bixi_stations_2017['year'] = 2017

bixi_stations_2018 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/BIXIDataSet/Stations_2017.csv', error_bad_lines=False)
bixi_stations_2018['year'] = 2018

In [0]:
# Load Weather csv file to pandas DataFrame

mtl_weather_daily_2014 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/mtl-weather-daily/eng-daily-01012014-12312014.csv', 
                                     header = 0, skiprows=24, error_bad_lines=False)
mtl_weather_daily_2015 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/mtl-weather-daily/eng-daily-01012015-12312015.csv', 
                                     header = 0, skiprows=24, error_bad_lines=False)
mtl_weather_daily_2016 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/mtl-weather-daily/eng-daily-01012016-12312016.csv', 
                                     header = 0, skiprows=24, error_bad_lines=False)
mtl_weather_daily_2017 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/mtl-weather-daily/eng-daily-01012017-12312017.csv', 
                                     header = 0, skiprows=24, error_bad_lines=False)
mtl_weather_daily_2018 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/raw-data/mtl-weather-daily/eng-daily-01012018-12312018.csv', 
                                     header = 0, skiprows=24, error_bad_lines=False)

# Concate Dataset and Save in Google Drive

In [0]:
# Concat all bixi trip dataset from 2014 to 2018

dlist = [bixi_trip_data_2014to2018]

for d in dlist:

	# Merge data using List comprehension
	df_trip = pd.concat([pd.read_csv(f) for f in d])

	# Write or save merge data into csv file in specific Google Drive folder
# 	df_trip.to_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/processed-data/bixi_trip_2014_2018.csv', index=False, encoding='utf-8-sig')

In [0]:
# Concat bixi stations dataset from 2014 to 2018

df_stations = pd.concat([bixi_stations_2014, bixi_stations_2015, bixi_stations_2016, bixi_stations_2017, bixi_stations_2018], axis = 0)

# Write or save merge data into csv file in specific Google Drive folder
# df_stations.to_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/processed-data/bixi_stations_2014_2018.csv', index=False, encoding='utf-8-sig')

In [0]:
# Concat Montreal Weather Hourly dataset from 2014 to 2018

dlist = [mtl_weather_hourly]

for d in dlist:

	# Merge data using List comprehension
	df_mtl_weather_hourly = pd.concat([pd.read_csv(f, header = 1, skiprows=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]) for f in d])

	# Write or save merge data into csv file in specific folder
# 	df_mtl_weather_hourly.to_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/processed-data/mtl_weather_hourly_2014_2018.csv', index=False, encoding='utf-8-sig')

# Summarizing Data for Inspection

In [11]:
# Summarizing BIXI Trip Data

print(df_trip.shape)
print(df_trip.columns)
print(df_trip.head())
print(df_trip.describe())

(20598137, 6)
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
         start_date  start_station_code  ... duration_sec  is_member
0  2014-04-15 00:01                6209  ...         1061          1
1  2014-04-15 00:01                6214  ...          615          1
2  2014-04-15 00:01                6164  ...         1031          1
3  2014-04-15 00:01                6214  ...         1382          1
4  2014-04-15 00:02                6149  ...          347          1

[5 rows x 6 columns]
       start_station_code  end_station_code  duration_sec   is_member
count         20598137.00       20598137.00   20598137.00 20598137.00
mean              6288.42           6282.71        814.05        0.83
std                347.95            358.08        640.75        0.37
min               4000.00           4000.00         61.00        0.00
25%               6102.00           6088.00        371.00        1.00
50%               6197.00           6188.00        648.00        1.00
75%               6349.00           6362.00       1087.00        1.00
max              10002.00          10002.00       7199.00        1.00

In [12]:
# Summarizing BIXI Station Data

print(df_stations.shape)
print(df_stations.columns)
print(df_stations.head())

(2476, 5)
Index(['code', 'name', 'latitude', 'longitude', 'year'], dtype='object')
   code                      name  latitude  longitude  year
0  6209            Milton / Clark     45.51     -73.57  2014
1  6436  Côte St-Antoine / Clarke     45.49     -73.60  2014
2  6214           Square St-Louis     45.52     -73.57  2014
3  6248     St-Dominique / Rachel     45.52     -73.58  2014
4  6164        Chambord / Laurier     45.53     -73.58  2014

In [13]:
# Summarizing Montreal Weather Hourly Data

print(df_mtl_weather_hourly.shape)
print(df_mtl_weather_hourly.columns)
print(df_mtl_weather_hourly.head())
print(df_mtl_weather_hourly.describe())

(43824, 24)
Index(['Date/Time', 'Year', 'Month', 'Day', 'Time', 'Temp (°C)', 'Temp Flag',
       'Dew Point Temp (°C)', 'Dew Point Temp Flag', 'Rel Hum (%)',
       'Rel Hum Flag', 'Wind Dir (10s deg)', 'Wind Dir Flag',
       'Wind Spd (km/h)', 'Wind Spd Flag', 'Visibility (km)',
       'Visibility Flag', 'Stn Press (kPa)', 'Stn Press Flag', 'Hmdx',
       'Hmdx Flag', 'Wind Chill', 'Wind Chill Flag', 'Weather'],
      dtype='object')
          Date/Time  Year  Month  ...  Wind Chill Wind Chill Flag        Weather
0  2014-01-01 00:00  2014      1  ...      -25.00             nan            NaN
1  2014-01-01 01:00  2014      1  ...      -27.00             nan  Mostly Cloudy
2  2014-01-01 02:00  2014      1  ...      -25.00             nan            NaN
3  2014-01-01 03:00  2014      1  ...      -24.00             nan            NaN
4  2014-01-01 04:00  2014      1  ...      -22.00             nan         Cloudy

[5 rows x 24 columns]
          Year    Month      Day  ...  Hmdx Flag  Wind Chill  Wind Chill Flag
count 43824.00 43824.00 43824.00  ...       0.00    12445.00             0.00
mean   2016.00     6.52    15.73  ...        nan      -14.18              nan
std       1.41     3.45     8.80  ...        nan        7.57              nan
min    2014.00     1.00     1.00  ...        nan      -41.00              nan
25%    2015.00     4.00     8.00  ...        nan      -19.00              nan
50%    2016.00     7.00    16.00  ...        nan      -13.00              nan
75%    2017.00    10.00    23.00  ...        nan       -8.00              nan
max    2018.00    12.00    31.00  ...        nan        0.00              nan

[8 rows x 17 columns]

In [14]:
# Keep required columns from weather dataset

new_order = ['Date/Time', 'Year', 'Month', 'Day', 'Time', 'Temp (°C)', 'Dew Point Temp (°C)', 'Rel Hum (%)', 'Wind Dir (10s deg)', 'Wind Spd (km/h)', 
                         'Visibility (km)', 'Stn Press (kPa)', 'Wind Chill', 'Weather']
df_mtl_weather_hourly = df_mtl_weather_hourly[new_order]
df_mtl_weather_hourly.head()

          Date/Time  Year  Month  ...  Stn Press (kPa) Wind Chill        Weather
0  2014-01-01 00:00  2014      1  ...           101.63     -25.00            NaN
1  2014-01-01 01:00  2014      1  ...           101.69     -27.00  Mostly Cloudy
2  2014-01-01 02:00  2014      1  ...           101.79     -25.00            NaN
3  2014-01-01 03:00  2014      1  ...           101.84     -24.00            NaN
4  2014-01-01 04:00  2014      1  ...           101.88     -22.00         Cloudy

[5 rows x 14 columns]

# Converting Data Types

In [15]:
# Get the Data Type of BIXI Trip Dataset
df_trip.dtypes

start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object

In [16]:
# # Convert Data Type
# df_trip['start_station_code'] = df_trip['start_station_code'].astype(str)
# df_trip['end_station_code'] = df_trip['end_station_code'].astype(str)


# BIXI Trip Dataset: Transform object/string Start Date and End Date Columns data to DateTime
df_trip['start_date'] = pd.to_datetime(df_trip['start_date'])
df_trip['end_date'] = pd.to_datetime(df_trip['end_date'])
df_trip.head()

           start_date  start_station_code  ... duration_sec  is_member
0 2014-04-15 00:01:00                6209  ...         1061          1
1 2014-04-15 00:01:00                6214  ...          615          1
2 2014-04-15 00:01:00                6164  ...         1031          1
3 2014-04-15 00:01:00                6214  ...         1382          1
4 2014-04-15 00:02:00                6149  ...          347          1

[5 rows x 6 columns]

In [17]:
# COnfirm converting the Data Type of BIXI Trip Dataset
df_trip.dtypes

start_date            datetime64[ns]
start_station_code             int64
end_date              datetime64[ns]
end_station_code               int64
duration_sec                   int64
is_member                      int64
dtype: object

In [18]:
# Get the Data Type of each column of Station Data
df_stations.dtypes

code           int64
name          object
latitude     float64
longitude    float64
year           int64
dtype: object

In [19]:
# Convert Data Type
# df_stations['code'] = df_stations['code'].astype(str)

df_stations.tail()

     code                                               name  ...  longitude  year
541  7075  CHSLD Éloria-Lepage (de la Pépinière / de Mars...  ...     -73.54  2018
542  6721          Métro Cadillac (Sherbrooke / de Cadillac)  ...     -73.55  2018
543  7044  Hôpital Santa Cabrini (St-Zotique / Jeanne-Jugan)  ...     -73.57  2018
544  6739                         de Repentigny / Sherbrooke  ...     -73.54  2018
545  7016           Métro Langelier (Sherbrooke / Langelier)  ...     -73.54  2018

[5 rows x 5 columns]

In [20]:
# Montreal Weather hourly Data: Get the Data Type of each column 
df_mtl_weather_hourly.dtypes

Date/Time               object
Year                     int64
Month                    int64
Day                      int64
Time                    object
Temp (°C)              float64
Dew Point Temp (°C)    float64
Rel Hum (%)            float64
Wind Dir (10s deg)     float64
Wind Spd (km/h)        float64
Visibility (km)        float64
Stn Press (kPa)        float64
Wind Chill             float64
Weather                 object
dtype: object

In [21]:
# Montreal Weather Hourly Data: Transform object/string Date/Time data to datetime
df_mtl_weather_hourly['Date/Time'] = pd.to_datetime(df_mtl_weather_hourly['Date/Time'])

df_mtl_weather_hourly.head()

            Date/Time  Year  Month  ...  Stn Press (kPa) Wind Chill        Weather
0 2014-01-01 00:00:00  2014      1  ...           101.63     -25.00            NaN
1 2014-01-01 01:00:00  2014      1  ...           101.69     -27.00  Mostly Cloudy
2 2014-01-01 02:00:00  2014      1  ...           101.79     -25.00            NaN
3 2014-01-01 03:00:00  2014      1  ...           101.84     -24.00            NaN
4 2014-01-01 04:00:00  2014      1  ...           101.88     -22.00         Cloudy

[5 rows x 14 columns]

# Creating New Column

In [22]:
# BIXI Trip Dataset: Create new columns based on the start_date and end_date(month, year, day, time)
df_trip['start_year'] = df_trip['start_date'].dt.year
df_trip['start_month'] = df_trip['start_date'].dt.month
df_trip['start_day'] = df_trip['start_date'].dt.day
df_trip['start_week_day'] = df_trip['start_date'].dt.dayofweek
df_trip['start_hour'] = df_trip['start_date'].dt.hour
df_trip['start_minute'] = df_trip['start_date'].dt.minute
df_trip['end_year'] = df_trip['end_date'].dt.year
df_trip['end_month'] = df_trip['end_date'].dt.month
df_trip['end_day'] = df_trip['end_date'].dt.day
df_trip['end_week_day'] = df_trip['end_date'].dt.dayofweek
df_trip['end_hour'] = df_trip['end_date'].dt.hour
df_trip['end_minute'] = df_trip['end_date'].dt.minute

df_trip.head()

           start_date  start_station_code  ... end_hour  end_minute
0 2014-04-15 00:01:00                6209  ...        0          18
1 2014-04-15 00:01:00                6214  ...        0          11
2 2014-04-15 00:01:00                6164  ...        0          18
3 2014-04-15 00:01:00                6214  ...        0          24
4 2014-04-15 00:02:00                6149  ...        0           8

[5 rows x 18 columns]

In [23]:
# BIXI Trip Dataset: Get the column names and order of dataframe
df_trip.columns

Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member', 'start_year', 'start_month', 'start_day',
       'start_week_day', 'start_hour', 'start_minute', 'end_year', 'end_month',
       'end_day', 'end_week_day', 'end_hour', 'end_minute'],
      dtype='object')

In [24]:
# Montreal Weather Dataset: Create new columns based on the dates

df_mtl_weather_hourly['Week_day'] = df_mtl_weather_hourly['Date/Time'].dt.dayofweek
df_mtl_weather_hourly['Hour'] = df_mtl_weather_hourly['Date/Time'].dt.hour

df_mtl_weather_hourly.head()

            Date/Time  Year  Month  ...        Weather Week_day  Hour
0 2014-01-01 00:00:00  2014      1  ...            NaN        2     0
1 2014-01-01 01:00:00  2014      1  ...  Mostly Cloudy        2     1
2 2014-01-01 02:00:00  2014      1  ...            NaN        2     2
3 2014-01-01 03:00:00  2014      1  ...            NaN        2     3
4 2014-01-01 04:00:00  2014      1  ...         Cloudy        2     4

[5 rows x 16 columns]

In [25]:
# Montreal Weather Dataset: Get the column names
df_mtl_weather_hourly.columns

Index(['Date/Time', 'Year', 'Month', 'Day', 'Time', 'Temp (°C)',
       'Dew Point Temp (°C)', 'Rel Hum (%)', 'Wind Dir (10s deg)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Wind Chill',
       'Weather', 'Week_day', 'Hour'],
      dtype='object')

# Dealing with Missing Values

In [26]:
# BIXI Trip Dataframe: Number of missing values by columns
print(df_trip.isnull().sum())

start_date            0
start_station_code    0
end_date              0
end_station_code      0
duration_sec          0
is_member             0
start_year            0
start_month           0
start_day             0
start_week_day        0
start_hour            0
start_minute          0
end_year              0
end_month             0
end_day               0
end_week_day          0
end_hour              0
end_minute            0
dtype: int64

In [27]:
# BIXI Station Dataframe: Number of missing values by columns
print(df_stations.isnull().sum())

code         0
name         0
latitude     0
longitude    0
year         0
dtype: int64

In [28]:
# BIXI Weather Dataframe: Number of missing values by columns
print(df_mtl_weather_hourly.isnull().sum())

Date/Time                  0
Year                       0
Month                      0
Day                        0
Time                       0
Temp (°C)                 17
Dew Point Temp (°C)       19
Rel Hum (%)               19
Wind Dir (10s deg)        47
Wind Spd (km/h)           18
Visibility (km)           17
Stn Press (kPa)           17
Wind Chill             31379
Weather                23246
Week_day                   0
Hour                       0
dtype: int64

In [29]:
# Fill NaN values with previous values in column

df_mtl_weather_hourly['Temp (°C)'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Dew Point Temp (°C)'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Rel Hum (%)'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Wind Dir (10s deg)'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Wind Spd (km/h)'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Visibility (km)'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Stn Press (kPa)'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Wind Chill'].fillna(method='ffill', inplace=True)
df_mtl_weather_hourly['Weather'].fillna(method='ffill', inplace=True)

print(df_mtl_weather_hourly.isnull().sum())

Date/Time              0
Year                   0
Month                  0
Day                    0
Time                   0
Temp (°C)              0
Dew Point Temp (°C)    0
Rel Hum (%)            0
Wind Dir (10s deg)     0
Wind Spd (km/h)        0
Visibility (km)        0
Stn Press (kPa)        0
Wind Chill             0
Weather                1
Week_day               0
Hour                   0
dtype: int64

In [30]:
# Get the NaN value rows of Weather Column
df_mtl_weather_hourly[df_mtl_weather_hourly.Weather.isnull()]

   Date/Time  Year  Month  Day  ... Wind Chill  Weather  Week_day  Hour
0 2014-01-01  2014      1    1  ...     -25.00      NaN         2     0

[1 rows x 16 columns]

In [31]:
# Set value for particular cell using index 

df_mtl_weather_hourly.at[0, 'Weather'] = "Mostly Cloudy"
df_mtl_weather_hourly.head()

            Date/Time  Year  Month  ...        Weather Week_day  Hour
0 2014-01-01 00:00:00  2014      1  ...  Mostly Cloudy        2     0
1 2014-01-01 01:00:00  2014      1  ...  Mostly Cloudy        2     1
2 2014-01-01 02:00:00  2014      1  ...  Mostly Cloudy        2     2
3 2014-01-01 03:00:00  2014      1  ...  Mostly Cloudy        2     3
4 2014-01-01 04:00:00  2014      1  ...         Cloudy        2     4

[5 rows x 16 columns]

In [32]:
# Recheck the number of missing values by Column
print(df_mtl_weather_hourly.isnull().sum())

Date/Time              0
Year                   0
Month                  0
Day                    0
Time                   0
Temp (°C)              0
Dew Point Temp (°C)    0
Rel Hum (%)            0
Wind Dir (10s deg)     0
Wind Spd (km/h)        0
Visibility (km)        0
Stn Press (kPa)        0
Wind Chill             0
Weather                0
Week_day               0
Hour                   0
dtype: int64

# Dealing with duplicate rows

In [33]:
# Get Duplicate rows of BIXI Trip Dataframe
duplicate_rows = df_trip[df_trip.duplicated()]
print("Duplicate Rows except first occurrence based on all columns:")
print(duplicate_rows)

Duplicate Rows except first occurrence based on all columns:
                start_date  start_station_code  ... end_hour  end_minute
6849   2014-04-17 13:23:00                6213  ...       13          30
10215  2014-04-17 21:33:00                6194  ...       21          52
10392  2014-04-17 22:35:00                6233  ...       22          52
14636  2014-04-18 18:27:00                6155  ...       18          30
15025  2014-04-18 19:24:00                6086  ...       19          39
15594  2014-04-18 22:05:00                6186  ...       22          16
15620  2014-04-18 22:11:00                6234  ...       22          14
17054  2014-04-19 11:29:00                6258  ...       11          43
17066  2014-04-19 11:30:00                6083  ...       11          34
17082  2014-04-19 11:34:00                6087  ...       12           6
17170  2014-04-19 11:49:00                6155  ...       12           6
17474  2014-04-19 12:39:00                6257  ...       13          13
17725  2014-04-19 13:18:00                6924  ...       13          35
18023  2014-04-19 13:54:00                6372  ...       14          33
18453  2014-04-19 14:40:00                6058  ...       15           1
18767  2014-04-19 15:11:00                6205  ...       15          26
19421  2014-04-19 16:17:00                6064  ...       16          31
19508  2014-04-19 16:26:00                6050  ...       16          57
19849  2014-04-19 16:55:00                6117  ...       17          15
22031  2014-04-20 00:22:00                6227  ...        0          31
22085  2014-04-20 00:45:00                6405  ...        0          55
22291  2014-04-20 02:48:00                6213  ...        2          53
22355  2014-04-20 03:27:00                6277  ...        3          36
23089  2014-04-20 11:19:00                6426  ...       11          41
23287  2014-04-20 11:51:00                6088  ...       12          13
23542  2014-04-20 12:28:00                6427  ...       13           4
23959  2014-04-20 13:23:00                6015  ...       13          48
25374  2014-04-20 16:04:00                6052  ...       17          32
25716  2014-04-20 16:39:00                6050  ...       16          59
25789  2014-04-20 16:44:00                6227  ...       16          53
...                    ...                 ...  ...      ...         ...
51271  2018-11-06 08:00:00                6156  ...        8           4
57038  2018-11-06 17:25:00                6008  ...       17          49
57645  2018-11-06 17:50:00                6034  ...       18           1
66369  2018-11-07 12:28:00                6411  ...       12          31
69372  2018-11-07 16:40:00                6307  ...       16          48
74090  2018-11-07 21:53:00                6227  ...       22           5
74185  2018-11-07 22:04:00                6184  ...       22          18
79660  2018-11-08 11:29:00                6034  ...       11          36
80776  2018-11-08 13:04:00                6281  ...       13           9
88232  2018-11-08 21:36:00                6901  ...       21          43
88788  2018-11-08 22:52:00                6136  ...       23           1
100165 2018-11-10 10:48:00                6330  ...       10          54
100518 2018-11-10 11:39:00                6111  ...       11          48
100634 2018-11-10 11:51:00                6915  ...       11          55
102038 2018-11-10 14:06:00                6089  ...       14          26
102895 2018-11-10 15:36:00                6733  ...       15          48
103567 2018-11-10 16:43:00                7029  ...       16          46
104538 2018-11-10 19:13:00                6018  ...       19          22
104824 2018-11-10 20:25:00                6186  ...       20          36
109199 2018-11-11 15:52:00                6064  ...       16           3
110837 2018-11-11 19:54:00                6223  ...       19          59
115608 2018-11-12 12:44:00                6026  ...       13          17
116825 2018-11-12 15:04:00                6026  ...       15          15
117504 2018-11-12 16:06:00                6137  ...       16          15
118281 2018-11-12 16:54:00                6118  ...       17          17
122212 2018-11-12 23:23:00                6211  ...       23          29
129003 2018-11-13 21:02:00                6070  ...       21           5
138181 2018-11-15 08:47:00                6158  ...        8          57
142188 2018-11-15 17:31:00                6738  ...       17          43
143894 2018-11-15 21:08:00                6031  ...       21          27

[23912 rows x 18 columns]

**Note: Keeping the duplicate values in the DataFrame because group of people could start same time from a station and end also together in another station with same time.   **

# Grouping Station wise Hourly Bike Move Out and Move In

In [34]:
# Copy df_trip DataFrame with specic columns
new_df_col = ['start_year', 'start_month', 'start_day', 'start_hour', 'start_station_code', 'end_station_code'] 
df_trip_copy = df_trip[new_df_col]
df_trip_copy.head()

   start_year  start_month  ...  start_station_code  end_station_code
0        2014            4  ...                6209              6436
1        2014            4  ...                6214              6248
2        2014            4  ...                6164              6216
3        2014            4  ...                6214              6082
4        2014            4  ...                6149              6265

[5 rows x 6 columns]

In [35]:
# Count the number of bikes move in and move out from specific station hourly
df_trip_hourly = df_trip_copy.melt(['start_year', 'start_month', 'start_day', 'start_hour']).groupby(['start_year', 'start_month', 'start_day', 'start_hour','variable']).value.value_counts().unstack(level=4,fill_value=0).reset_index()
df_trip_hourly.head()

variable  start_year  start_month  ...  end_station_code  start_station_code
0               2014            4  ...                 0                   1
1               2014            4  ...                 0                   1
2               2014            4  ...                 1                   1
3               2014            4  ...                 1                   0
4               2014            4  ...                 1                   0

[5 rows x 7 columns]

In [36]:
# Columns of DataFrame
df_trip_hourly.columns

Index(['start_year', 'start_month', 'start_day', 'start_hour', 'value',
       'end_station_code', 'start_station_code'],
      dtype='object', name='variable')

In [37]:
# Rename df_trip_hourly Column Name
df_trip_hourly.columns = ['Start_year', 'Start_month', 'Start_day', 'Start_hour', 'Station_code', 'Move_in', 'Move_out']
df_trip_hourly.head()

   Start_year  Start_month  Start_day  ...  Station_code  Move_in  Move_out
0        2014            4         15  ...          6062        0         1
1        2014            4         15  ...          6064        0         1
2        2014            4         15  ...          6068        1         1
3        2014            4         15  ...          6082        1         0
4        2014            4         15  ...          6093        1         0

[5 rows x 7 columns]

# Merge DataFrames

In [38]:
# Merge df_trip_hourly datafrane with df_weather DataFrame and station DataFrame
df_merged = pd.merge(left=df_trip_hourly, right=df_mtl_weather_hourly, how='left', left_on=['Start_year', 'Start_month', 'Start_day', 'Start_hour'], 
                     right_on=['Year', 'Month', 'Day', 'Hour'])

df_merged = pd.merge(left=df_merged, right=df_stations, how='left', left_on=['Station_code', 'Year'], right_on=['code', 'year'])

df_merged.head()

   Start_year  Start_month  Start_day  ...  latitude  longitude    year
0        2014            4         15  ...     45.50     -73.57 2014.00
1        2014            4         15  ...     45.50     -73.58 2014.00
2        2014            4         15  ...     45.50     -73.58 2014.00
3        2014            4         15  ...     45.55     -73.58 2014.00
4        2014            4         15  ...     45.49     -73.59 2014.00

[5 rows x 28 columns]

In [39]:
# Get the column names and order of Merged Dataframe
df_merged.columns

Index(['Start_year', 'Start_month', 'Start_day', 'Start_hour', 'Station_code',
       'Move_in', 'Move_out', 'Date/Time', 'Year', 'Month', 'Day', 'Time',
       'Temp (°C)', 'Dew Point Temp (°C)', 'Rel Hum (%)', 'Wind Dir (10s deg)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Wind Chill',
       'Weather', 'Week_day', 'Hour', 'code', 'name', 'latitude', 'longitude',
       'year'],
      dtype='object')

In [40]:
# Change the order of dataframe columns
new_order = ['Station_code', 'name', 'latitude', 'longitude', 'Year', 'Month', 'Day', 'Week_day', 'Hour', 'Move_out', 'Move_in',  
             'Temp (°C)', 'Dew Point Temp (°C)', 'Rel Hum (%)', 'Wind Dir (10s deg)', 'Wind Spd (km/h)', 
             'Visibility (km)', 'Stn Press (kPa)', 'Wind Chill', 'Weather']
df_merged = df_merged[new_order]

# Rename columns names
df_merged.columns = ['Station_Code', 'Station_Name', 'Latitude', 'Longitude', 'Year', 'Month', 'Day', 'Week_Day', 'Hour', 'Bike_Move_Out', 'Bike_Move_In',  
             'Temp_(°C)', 'Dew_Point_Temp_(°C)', 'Rel_Hum_(%)', 'Wind_Dir_(10s_deg)', 'Wind_Spd_(km/h)', 
             'Visibility_(km)', 'Stn_Press_(kPa)', 'Wind_Chill', 'Weather']
df_merged.head()

   Station_Code              Station_Name  ...  Wind_Chill       Weather
0          6062  Drummond / Ste-Catherine  ...       -4.00  Rain Showers
1          6064  de Maisonneuve / Stanley  ...       -4.00  Rain Showers
2          6068    Mansfield / Sherbrooke  ...       -4.00  Rain Showers
3          6082      6e avenue / Rosemont  ...       -4.00  Rain Showers
4          6093      Atwater / Sherbrooke  ...       -4.00  Rain Showers

[5 rows x 20 columns]

In [0]:
df_merged.to_csv('/content/gdrive/My Drive/Colab Notebooks/bixi-montreal/processed-data/bixi-trip-weather-data-hourly-2014-2018.csv', index=False)